:root{
    --ice-cream-green: #a0ab44;
    --ice-cream-pink: #f8bfb9;
    --ice-cream-light: #f9f2e2;
    --ice-cream-deep-cream: #f8bd76;
    --ice-cream-medium: #b26c3e;
    --text-dark:#2C2416;
    --text-light:#f3f3f3;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Montserrat', sans-serif;
    background: var(--ice-cream-deep-cream);
    color:var(--text-dark);
    line-height: 1.7;
    overflow-x:hidden;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin:0 auto;
}
header{
    background:var(--text-dark);
    position:fixed;
    width:100%;
    top:0;
    z-index:1000;
    padding: 10px 0;
    transition:all 0.4s ease;
}
.header-container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.logo{
    display:flex;
    align-items:center;
    gap: 12px;
    text-decoration:none;
}

.logo-icon{
    color:var(--ice-cream-pink);
    font-size: 28px;
}
.logo-text{
    font-family:'Playfair Display';
    font-size: 28px;
    font-weight:900;
    color:var(--ice-cream-green);
    letter-spacing:1px;
}
.logo-text span{
    color:var(--ice-cream-pink)
}

nav ul{
    display:flex;
    list-style:none;
    gap:35px;
}
nav a{
    text-decoration:none;
    color:var(--ice-cream-deep-cream);
    font-weight: 600;
    font-size:16px;
    position:relative;
    padding: 5px 0;
    transition: all 0.3s ease;
}

   

nav a:after{
    content: '';
    position:absolute;
    bottom:0;
    left:0;
    width:0; 
    height: 2px;
    background:var(--ice-cream-deep-cream);
    transition:width 0.3s ease;
}